<%- include("../partials/header.ejs") %>
<link rel="stylesheet" href="campgrounds.css">


<div class="container text-center">
	<header class="jumbotron text-white">
		<h1 class="me">
			Welcome to our campgrounds page!
		</h1>
		<p>
			We help you find you perfect camp.		
			Come pitch a tent with us!
		</p>
		
	</header>

	<div class="row text-center justify-content-around" >
	
		<% campgrds.forEach(function(campground){%>			
				<div class=" col-lg-3 col-sm-6" style="margin:10px;">
					
						<div class="card" style="width: 18rem;">
	  					<img src="<%=campground.image%>"  class="card-img-top" >
	  					<div class="card-body">
						<p class="card-title"><%=campground.name%></p>
							<p class="card-text text-center">
								&#x20B9; <%=campground.price%>/night
							</p>
						<a class="btn btn-outline-primary" href="/campgrounds/<%=campground._id%>" role="button">Know More</a>
	  					</div>
					
					</div>
										
				</div>		
		<%})%>
		
	</div>
</div>

<div class="container text-center">
	<p>
		Do you own a camp? Want to share your knowledge?
	
	</p>
	<a class="btn btn-danger btn-large" href="/campgrounds/new" role="button">Add A New Campground!</a>
</div>
	<%- include("../partials/footer.ejs") %>